<ng-container *ngIf="!isAuthRoute()">
  <div class="fixed top-0 left-0 w-full z-50">
    <div class="flex-shrink-0 bg-green-600">
      <app-navbar></app-navbar>
    </div>
  </div>
  <ng-container *ngIf="isAuthenticated()">       
      <div class="bg-gray-200 w-full">
          <router-outlet></router-outlet> 
      </div>
  </ng-container>
  <ng-container *ngIf="!isAuthenticated()">
    <router-outlet></router-outlet>
  </ng-container> 
</ng-container>
<ng-container *ngIf="isAuthRoute()">
  <router-outlet></router-outlet>
</ng-container>
