<div [ngClass]="{'justify-center': setProductDetails==false}"
  class="flex flex-row h-full gap-6 p-5 pt-16 justify-evenly">
  
 
   
    <div class="w-1/2 flex flex-col gap-6 p-5">
      <div class="flex flex-row justify-center">
        <button type="button" (click)="getPending()" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">Pending</button>
        <button type="button" (click)="getCompleted()" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">Completed</button>
      </div>
      <ng-container *ngIf="allOrders.length > 0">
      <div *ngFor="let order of allOrders" class="w-full bg-white h-fit p-4 shadow-md border rounded-lg hover:border-2 hover:border-purple-600">
        <ng-container *ngIf="order.id">
          <button (click)="setProduct(order.id)" class="w-full flex flex-nowrap flex-row justify-between">
            <div class="flex flex-col items-start">
              <p class="text-lg text-gray-800 font-semibold items-start">{{order.uuid}}</p>
              <p class="text-sm font-medium text-purple-600"> Ordered by: <span class="text-gray-600 font-normal">
                  {{order.firstName}}</span> </p>
              <p class="text-sm font-medium text-purple-600"> Token no.: <span class="text-gray-600 font-normal">
                    {{order.id}}</span> </p>
              <p class="text-sm font-medium text-purple-600"> Total Items: <span
                  class="text-gray-600 font-normal">{{order.productDetail.length}}</span> </p>
            </div>
            <div class="flex flex-col gap-4 items-end">
              <p class="text-gray-800 font-medium">{{order.uuid && getDate(order.uuid)}}</p>
              <p class="text-lg text-emerald-600 font-semibold">{{ order.totalAmount | currency : "INR"}}</p>
            </div>
          </button>
        </ng-container>
        <ng-container *ngIf="allOrders.length < 1">
          <p class="text-gray-300 font-medium">No orders placed yet</p>
       </ng-container>
      </div>
    </ng-container>
    </div>
  
  <ng-container *ngIf="setProductDetails">
    <div class="h-fit md:w-1/4 bg-white shadow rounded-md px-4 py-6">
      <h3 class="text-base font-semibold text-purple-900"> {{ products.bill }}</h3>

      <ul class="mt-2">
        <li *ngFor="let product of products ; let i = index" class="flex space-y-3 py-4 text-left">
          <div class="sm:col-gap-4 sm:grid sm:grid-cols-3">
            <div class="shrink-0">
              <img class="h-16 w-24 max-w-full rounded-lg object-cover"
                src="https://source.unsplash.com/random/600x360/?{{product.name}}" alt={{product.name}} />
            </div>
           
              <div class="flex flex-col justify-between mx-3">
                <p class="text-base font-semibold text-gray-900">{{product.name}} </p>

                <p class="text-sm text-emerald-600">{{product.price | currency : "INR" }}<span class="text-base font-normal text-gray-400">
                    x {{product.quantity}}</span></p>
              </div>
              <div class="flex flex-col items-end">
                {{ (product.price * product.quantity ) | currency : "INR" }}
              </div>
          </div>
        </li>
      </ul>

      <div class="mt-2 border-t py-2 flex items-center justify-between">
        <p class="text-sm font-medium text-gray-900">Total</p>
        <p class="text-lg font-semibold text-emerald-700">{{products.total | currency : "INR"}}</p>
      </div>
    <ng-container *ngIf = getRole()>
      <div *ngIf = !products.status class="mt-6 text-center">
        <button type="button" (click)="markCompleted(products.orderID)"
          class="group inline-flex w-full items-center justify-center rounded-md bg-purple-900 px-4 py-2 text-lg font-semibold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-purple-800">
          Mark as Completed
        </button>
      </div>
    </ng-container>
    </div>
  </ng-container>
</div>